* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.txt-ja-p {
  /* border: 1px solid gray; */
  height: auto;
  width: 100%;
  display: flex;
  padding-top: 100px;
  justify-content: center;
}
.txtj-c {
  display: flex;
  justify-content: center;
  /* border: 1px solid gray; */
  height: auto;
  flex-wrap: wrap;
  width: 60%;
  justify-content: center;
}

.mecaps-c {
  /* border: 1px solid gray; */
  padding-top: 50px;
  height: auto;
  width: 100%;
  display: flex;
  padding-bottom: 30px;
  justify-content: center;
}
.mecaps {
  display: flex;
  justify-content: center;
  color: gray;
  /* border: 1px solid gray; */
  height: auto;
  width: 50%;
  font-weight: 700;
  font-size: 28px;
}
.abt {
  width: 80%;
  margin-bottom: 20px;
  height: auto;
  color: gray;
  /* border: 1px solid gray; */
  font-size: 12px;
}

/* Extra-small devices */
@media (max-width: 600px) {
  .txt-ja-p {
    /* border: 1px solid gray; */
    height: auto;
    width: 100%;
    display: flex;
    padding-top: 100px;
    justify-content: center;
  }
  .txtj-c {
    display: flex;
    justify-content: center;
    /* border: 1px solid gray; */
    height: auto;
    flex-wrap: wrap;
    width: 93%;
    justify-content: center;
  }

  .mecaps-c {
    /* border: 1px solid gray; */
    padding-top: 50px;
    height: auto;
    width: 100%;
    display: flex;
    padding-bottom: 30px;
    justify-content: center;
  }
  .mecaps {
    display: flex;
    justify-content: center;
    color: gray;
    /* border: 1px solid gray; */
    height: auto;
    width: 50%;
    font-weight: 700;
    font-size: 28px;
  }
  .abt {
    width: 80%;
    margin-bottom: 25px;
    height: auto;
    color: gray;
    /* border: 1px solid gray; */
    font-size: 12px;
  }

  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 74.99%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
