body {
  margin: 0;
  transition: filter 0.1s ease, background-color 0.1s ease;
}

.menu-btn-n {
  background: none;
  border: none;
  cursor: pointer;
  /* border: 1px solid gainsboro; */
}

.dot-menu {
  display: block;
  /* border: 1px solid rgb(255, 0, 43); */
}

/* Side Navigation */
.side-nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  /* Start hidden */
  background-color: transparent;
  color: #fff;
  overflow-x: hidden;
  transition: width 0.1s ease;
  z-index: 1100;
}

.sd-holder {
  height: 98.66%;
  width: 98%;
  border-radius: 2px;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #000;
  padding-top: 20px;
  padding-bottom: 100px;
  /* border: 1px solid gainsboro; */
  /* background: rgba(0, 0, 0, 0.534);
  backdrop-filter: blur(8px); */
}
.extrx {
  height: auto;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;
}

.side-nav.open {
  width: 50%;
  /* Expand on click */
}

.side-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  /* Hide initially */
  transition: opacity 0.3s ease;
}

.side-nav.open ul {
  opacity: 1;
  margin-top: 15px;
  margin-bottom: 10px;
  /* border: 1px solid darkgray; */
  padding: 8px 35px;
}

.side-nav ul li {
  display: flex;
  align-items: center;
  padding: 12px 10px;
  /* border: 1px solid darkgray; */
}

.side-nav ul li a {
  color: #808080;
  font-weight: 600;
  text-decoration: none;
}
/* .side-nav ul li a:hover,
:focus {
  color: orangered;
} */

body.lock-scroll {
  overflow: hidden;
  height: 100vh; /* prevents body shift */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px); /* blur effect */
  background: rgba(0, 0, 0, 0.3); /* subtle dark tint */
  z-index: 1000; /* just below the side-nav */
  display: none; /* hidden by default */
}

/* Show overlay when active */
.overlay.active {
  display: block;
}
/* Responsive Design */
@media (max-width: 600px) {
  .side-nav.open {
    width: 70%;
    /* border: 1px solid red; */
  }
  .side-nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    padding-left: 2px;
    height: 100vh;
    width: 0;
    /* Start hidden */
    max-width: 350px;
    background-color: transparent;
    color: #fff;
    overflow-x: hidden;
    /* border: 1px solid blue; */
    transition: width 0.3s ease;
    z-index: 1100;
    padding-top: 0;
  }

  .sd-holder {
    height: 100%;
    width: 100%;
    border-radius: 2px;
    /* border: 1px solid #2e8b57; */
  }
  .xsinp {
    display: flex;
    height: auto;
    align-items: center;
    width: 100%;
    padding-left: 45px;
    /* border: 1px solid #2e8b57; */
  }
  .xsu-c {
    display: flex;
    padding-top: 15px;
    height: auto;
    width: 73%;
    padding-right: 0;
    /* border: 1px solid #000000; */
  }
  .xsu-c a {
    text-decoration: none;
    font-weight: 600;
    color: #808080;
  }

  /* .nav-si-me-c {
    display: flex;
    height: auto;
    justify-content: center;
    width: 100%;
    border: 1px solid #2e8b57;
  } */
  /* .nav-s-m-h {
    display: flex;
    height: 38px;
    width: 70%;
    padding-right: 0;
    border-radius: 7px;
    border: 1px solid #000000;
    padding-top: 3px;
    padding-left: 2px;
    padding-bottom: 3px;
    padding-right: 2px;
    background-color: gainsboro;
  } */
  /* .syn {
    display: flex;
    justify-content: center;
    height: auto;
    width: 50%;
    border: 1px solid red;
  } */
  /* .n-m-btn-in {
    padding: 4px 16px;
    width: 100%;
    background-color: transparent;
    color: #525252;
    font-weight: 600;
    border: 1px solid #000000;
    border-radius: 5px;
    border: none;
  } */
  /* .n-m-btn-up {
    width: 100%;
    padding: 4px 16px;
    background-color: gray;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    border: none;
  } */
}

@media (min-width: 600px) and (max-width: 992px) {
  .side-nav.open {
    width: 40%;
  }

  .sd-holder {
    height: 99%;
    width: 99%;
    border-radius: 2px;
    /* backdrop-filter: blur(12px); */
  }
}

@media (min-width: 1024px) {
  .side-nav.open {
    width: 30%;
  }
}

/* .col-xl-1 {
  width: 8.33%;
}
.col-xl-0_5 {
  width: 3.66%;
}
.col-xl-2 {
  width: 16.66%;
}
.col-xl-3 {
  width: 25%;
}
.col-xl-lg {
  width: 33.33%;
}
.col-xl-5 {
  width: 41.66%;
}
.col-xl-6 {
  width: 50%;
}
.col-xl-7 {
  width: 58.33%;
}
.col-xl-8 {
  width: 66.66%;
}
.col-xl-9 {
  width: 74.99%;
}
.col-xl-10 {
  width: 83.33%;
}
.col-xl-11 {
  width: 91.66%;
}
.col-xl-12 {
  width: 100%;
} */
